@import "./null.scss";

.App {
    height: 100vh;
    width: 100%;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    flex-direction: column;
    user-select: none;

    .rows {
        display: flex;
    }

    .cell {
        position: relative;

        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .cell-available{
            position: absolute;

            width: 100%;
            height: 100%;
            background-color: rgba(0, 128, 0, 0.274);
        }
        img {
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &.black {
            background-color: rgb(161, 161, 161);
        }
        &.white {
            background-color: rgb(231, 231, 231);
        }
        &.selected {
            background-color: rgb(116, 131, 197);
        }
       
        .available {
            position: absolute;

            width: 20px;
            height: 20px;
            background-color: green;
            border-radius: 20px;
        }
    }
}
